



#board{
    background-color: rgb(163, 218, 255);
    height: 100vh;   /* taKES A % of the screen size */
    position: relative;
}

.player{
    background-color: rgb(23, 162, 113);
    height: 20px;
    width:120px ;
    position: absolute;
    /* top: 50%;
    left: 50%; */

}

.obstacle {
    position: absolute;
    background-color: rgb(226, 14, 71);
    height: 20px;
    width: 120px;
}

